<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <section class="border border-secondary rounded">
            <h1 id="heading"><%= title %></h1>
            <form action="/create-todo" method = "POST">
                <hr>
                <div class="description mrg_wdh">
                    <p id="desc" class="bold">Description</p>
                    <input type="text" id="text" name = "description" class="background-hover" placeholder="What do you need to do?">
                </div>
                <hr>
                <div class = "field mrg_wdh">
                    <div class="category">
                        <p class="bold" id="categ">CATEGORY</p>
                        <select name="category_selected" id="categories" class="background-hover">
                                <optgroup label="Choose a category">
                                <option value="personal">Personal</option>
                                <option value="work">Work</option>
                                <option value="playing">Playing</option>
                                <option value="study">Study</option>
                                <option value="other">Other</option>  
                        </select>
                    </div>
                    <div class="due-date">
                        <p class="bold">DUE DATE</p>
                        <input type="date" name="date"  id="dates" class="background-hover">
                    </div>
                </div>
                <hr>
            <div class="button-segment">
                <a href="/create-todo">
                    <button class="btn btn-danger rounded">
                        <i class="fas fa-plus"></i>
                        <span>ADD TASK</span>
                    </button>  
                </a>
            </div>
            <hr>
            </form>
            <!-- Display Tasks -->
            <div class="tasks">
                <% for(let i of Todos){ %>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header"><i class="far fa-calendar-alt"></i> <%= i.date %> </div>
                        <div class="card-body">
                            <h5 class="card-title"> <%= i.category_selected %> </h5>
                            <p class="card-text"> <%= i.description %> </p>
                            <div class="card-footer bg-transparent border-success">TASK</div>
                            <button class="done"><i class="fas fa-calendar-check"></i> Done</button>
                            <a href="/delete-todo/?id=<%=i.id%>" class="btn btn-danger del"><i class="fas fa-trash-alt"></i>  DELETE TASK</a>
                            
                        </div>
                    </div>
                <%}%>
            </div>
        </section>
    </body>

    <!-- Bootstrap CDN  -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/style.js"></script>
</html>
